KINDE_DOMAIN="https://<your_kinde_subdomain>.kinde.com"
KINDE_CLIENT_ID="<your_kinde_client_id>"
KINDE_CLIENT_SECRET="<your_kinde_client_secret>"
KINDE_REDIRECT_URI="http://localhost:3000/callback"
KINDE_LOGOUT_REDIRECT_URI="http://localhost:3000"
COOKIE_SECRET="<your_cookie_secret>"
